<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=titleEditUser%></title>
    <%- include("partials/head")%>
  </head>
  <body>
    <%- include("partials/navBar")%>

    <!--  -->
<!-- 
    <% if(user) { %> -->
          <!-- TARJETAS DE POST DE USUARIOS -->


<!--     <div class="card">
      <img src="..." class="card-img-top" alt="IMAGEN USUARIO UNO">
    
      <div class="card-body">
        <h5 class="card-title">POST USUARIO UNO</h5>
        <p class="card-text">USUARIO QUE POSTEA</p>
        <a href="#" class="btn btn-primary">IR AL POSTEO</a>
      </div>
    </div>



    <div class="card">
      <img src="..." class="card-img-top" alt="IMAGEN USUARIO DOS">
    
      <div class="card-body">
        <h5 class="card-title">POSTEO USUARIO DOS</h5>
        <p class="card-text">USUARIO QUE POSTEA</p>
        <a href="#" class="btn btn-primary">IR AL POSTEO</a>
      </div>
    </div> -->
    

<!-- FIN DE LAS TARJETAS -->
    <!-- <% } %> -->

    <!--  -->

    <%- include("partials/footer")%>
  </body>
</html>
